* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px; }

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;
  /*background-color: plum;*/ }

/*.container-1 {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;
  background-color: blue;
}*/
.navbar {
  width: 100%;
  display: flex;
  align-items: center; }

.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0; }

.menu__bar {
  width: 25px;
  cursor: pointer;
  margin: 30px 0;
  display: none; }

nav {
  flex: 1;
  text-align: right; }

nav ul li {
  display: inline-block;
  margin-right: 30px; }

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem; }

nav ul li a:hover {
  color: #ff5e2f; }

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0; }

.row__1::after {
  content: "";
  width: 10px;
  height: 57%;
  position: absolute;
  background: linear-gradient(to bottom, #fb469f, #ff6062);
  top: 10px;
  left: -40px; }

.row__1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px; }

.row__1 h2 {
  font-size: 3.4rem; }

.row__1 h3 {
  font-size: 1.7rem;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px; }

.row__1 p {
  font-size: 1rem;
  color: #b7b7b7;
  font-weight: 100; }

.row__1 h4 {
  margin: 30px 0;
  font-size: 1.3rem; }

button {
  width: 140px;
  border: none;
  border-radius: 10px;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283, #ff3527);
  cursor: pointer;
  transition: width 0.5s; }

button img {
  width: 30px;
  display: none; }

button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

button:hover img {
  display: block; }

.row__2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center; }

.row__2 .controller {
  width: 90%; }

.color-box {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(#ff54a2, #ff575a);
  z-index: -1;
  height: 100%;
  width: 80%;
  border-radius: 20px 0 0 20px;
  transform: translateX(150px); }

.add-btn {
  display: flex;
  flex-direction: column;
  align-items: center; }

.add-btn img {
  width: 35px;
  margin-bottom: 10px;
  cursor: pointer; }

.add-btn p {
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer; }

.social__links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.social__links img {
  height: 13px;
  margin: 20px;
  cursor: pointer; }

@media only screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    background: linear-gradient(#ff54a2, #ff575a);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2; }
  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px; }
  nav ul li a {
    color: #fff; }
  nav ul li a:hover {
    color: #000; }
  .menu__bar {
    display: block; }
  .row {
    flex-direction: column-reverse;
    margin: 100px 0; }
  .row__1 {
    flex-basis: 100%;
    margin-left: 40px; }
  .row__1 h2 {
    font-size: 2.4rem; }
  .row__1 h3 {
    font-size: 1.2rem; }
  .row__1 p {
    font-size: 0.6rem; }
  .row__1 h4 {
    font-size: 1rem; }
  .row__2 {
    flex-basis: 100%;
    margin-bottom: 50px; }
  .row__2 .controller {
    width: 80%; }
  .color-box {
    width: 100%; }
  #menuList {
    overflow: hidden;
    transition: 0.5s; }
  .row::after {
    top: 200px;
    left: 80px;
    height: 40%; } }
