* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
  /*background-color: plum;*/
}

/*.container-1 {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;
  background-color: blue;
}*/

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fff;
  border-bottom: 1px solid #ff5e2f;
  z-index: 2000;
}

.navbar i {
  margin-top: 26px;
  cursor: pointer;
}

.navbar i:hover {
  color: #ff5e2f;
}

.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.menu__bar {
  width: 25px;
  cursor: pointer;
  margin: 35px 0;
  display: none;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
}

nav ul li a:hover {
  color: #ff5e2f;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0;
}

.row__1::after {
  content: "";
  width: 10px;
  height: 57%;
  position: absolute;
  background: linear-gradient(to bottom, #fb469f, #ff6062);
  top: 10px;
  left: -40px;
}

.row__1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.row__1 h2 {
  font-size: 3.4rem;
}

.row__1 h3 {
  font-size: 1.7rem;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}

.row__1 p {
  font-size: 1rem;
  color: #b7b7b7;
  font-weight: 100;
}

.row__1 h4 {
  margin: 30px 0;
  font-size: 1.3rem;
}

.row__1 a {
  text-decoration: none;
  color: #fff;
}

button {
  width: 140px;
  border: none;
  border-radius: 10px;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283, #ff3527);
  cursor: pointer;
  transition: width 0.5s;
}

button img {
  width: 30px;
  display: none;
}

button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button:hover img {
  display: block;
}

.row__2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.row__2 .controller {
  width: 90%;
}

.color-box {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(#ff54a2, #ff575a);
  z-index: -1;
  height: 100%;
  width: 80%;
  border-radius: 20px 0 0 20px;
  transform: translateX(150px);
}

.add-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-btn img {
  width: 35px;
  margin-bottom: 10px;
  cursor: pointer;
}

.add-btn p {
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}

.social__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.social__links a {
  text-decoration: none;
  color: lightgrey;
}

.social__links a:hover {
  color: #000;
}

.social__links img {
  height: 13px;
  cursor: pointer;
}

.footer {
  background: linear-gradient(to right, #ff3527, #fb469f);
  padding: 2% 5%;
}

.footer__section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin-top: 30px;
  //padding: 0 10%;
}

.footer__section h3 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 20px;
}

.about__section ul li {
  list-style: none;
  margin: 10px 0;
}

.about__section ul li a {
  text-decoration: none;
  color: lightgrey;
}

.about__section ul li a:hover {
  color: #000;
}

.playstation {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.playstation i {
  font-size: 2.5rem;
  color: #fff;
}

.playstation h1 {
  font-size: 1.5rem;
  color: #fff;
}
/**.popup__container {
  height: 100vh;
  width: 100vw;
  padding: 5rem;
  position: relative;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 60%;
  //background-color: #fb469f;
  display: flex;
  padding: 3rem;
  box-shadow: 2px 2px 5px #000;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

.popup__message {
  display: flex;
  flex-direction: column;
}

.login__input {
  display: flex;
  flex-direction: column;
}

.popup form {
  //flex: 1;
  //flex-basis: 60%;
  //height: 90%;
  padding: 2rem 3rem;
  border: 1px solid #000;
}
*/
@media only screen and (max-width: 700px) {
  .navbar i {
    margin-top: -2px;
    margin-right: 15px;
  }

  nav ul {
    width: 100%;
    background: linear-gradient(#ff54a2, #ff575a);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  nav ul li a {
    color: #fff;
  }

  nav ul li a:hover {
    color: #000;
  }

  .menu__bar {
    display: block;
  }

  .row__container:not(:first-child) {
    margin: 210px 0;
  }

  .row {
    flex-direction: column-reverse;
  }

  .row__1 {
    flex-basis: 100%;
    margin-left: 10px;
  }

  .row__1 h2 {
    font-size: 2.4rem;
  }

  .row__1 h3 {
    font-size: 1.2rem;
  }

  .row__1 p {
    font-size: 0.6rem;
  }

  .row__1 h4 {
    font-size: 1rem;
  }

  .row__2 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .row__2 .controller {
    width: 80%;
  }

  .color-box {
    width: 100%;
  }

  #menuList {
    overflow: hidden;
    transition: 0.5s;
  }

  .row::after {
    top: 200px;
    left: 80px;
    height: 40%;
  }

  .footer {
    padding: 2rem;
  }

  .footer__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    row-gap: 1rem;
    width: 100%;
  }
}
